In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("data.csv")
df

        day  temperature   windspeed  event
0  1/1/2017            32          6   Rain
1  1/2/2017            35          7  Sunny
2  1/3/2017            28          4   Snow
3  1/4/2017            29          5   Snow
4  1/4/2018            30          6   Rain
5  1/4/2019            31          7  Sunny

In [16]:
rows,columns2 = df.shape

In [17]:
df.columns

Index(['day', 'temperature ', 'windspeed', 'event'], dtype='object')

In [24]:
df.describe()

       temperature   windspeed
count      6.000000   6.000000
mean      30.833333   5.833333
std        2.483277   1.169045
min       28.000000   4.000000
25%       29.250000   5.250000
50%       30.500000   6.000000
75%       31.750000   6.750000
max       35.000000   7.000000

In [34]:
df[['day','temperature ']][df.windspeed==df['windspeed'].max()]

        day  temperature
1  1/2/2017            35
5  1/4/2019            31

In [37]:
df=df.set_index('day')

In [38]:
df.loc['1/4/2017']

temperature       29
windspeed          5
event           Snow
Name: 1/4/2017, dtype: object

In [41]:
df.reset_index(inplace=False)
df

   index       day  temperature   windspeed  event
0      0  1/1/2017            32          6   Rain
1      1  1/2/2017            35          7  Sunny
2      2  1/3/2017            28          4   Snow
3      3  1/4/2017            29          5   Snow
4      4  1/4/2018            30          6   Rain
5      5  1/4/2019            31          7  Sunny

In [1]:
from sklearn import datasets